<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :project_name %>
    <%= form.text_field :project_name %>
  </div>

  <div class="field">
    <%= form.label :scope %>
    <%= form.text_field :scope %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :labour_costs %>
    <%= form.text_field :labour_costs %>
  </div>

  <div class="field">
    <%= form.label :materials_cost %>
    <%= form.text_field :materials_cost %>
  </div>

  <div class="field">
    <%= form.label :expenses %>
    <%= form.text_field :expenses %>
  </div>

  <div class="field">
    <%= form.label :client %>
    <%= form.text_field :client %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
